body {
  font-family: sans-serif;
  padding: 2rem;
}

form {
  margin-bottom: 2rem;
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.container {
  position: relative;
  width: 100%;
  max-width: 800px;
  height: 50px;
  padding: 0.5rem;

  margin-bottom: 1rem;
}

.bar-container {
  position: relative;
  width: 100%;
  max-width: 800px;
  height: 50px;
  background: #eee;
  border: 1px solid #aaa;
  margin-bottom: 1rem;
}

.action-marker {
  position: absolute;
  width: 10px;
  height: 50px;
  opacity: 0.8;
}

.legend span {
  margin-right: 1rem;
  font-size: 0.9rem;
}

.calcBox {
  display: flex;
  padding: 0.5rem;
}

.calcOption {
  margin: 5px;
  padding: 0.5rem
}

.speedBox {
  display: flex;
  margin: 5px;
  padding: 0.5rem;
}

.border {
  border: 1px solid black;
}

.rounded {
  border-radius: 7px;
}

#reqSpeed {
  margin-left: 0.1rem;
  font-weight: bold;
}

