html {
  margin: auto;
  min-height: 100vh;
}

img {
  padding: 1em;
}

#logo-title {
  width: 10vw;
}

#navbar {
  min-height: 30px;
}

#line {
  border: 1px solid black;
  width: 90%;
  height: 2px;
}

label {
  margin: 1vh;
}

#cycleCount {
  width: 10rem;
}

#gameMode {
  width: 10rem;
}

#av-graph {
  min-height: 20vh;
  justify-content: center;
}
