.App {
  text-align: center;
  justify-content: center;
  align-items: center;
  display: block;
}

.App-header {
  background-color: #282c34;
  height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-graph {
  background-color: white;
  border: 1px solid black;
  width: 100%;
  height: 40vh;
  justify-content: center;
  display: flex;
}

.App-character {
  margin: 1vh;
  justify-content: center;
  background-color: #282c34;
  height: 7vh;
  width: 80%;
}


