.App {
  text-align: center;
  justify-content: center;
  align-items: center;
  display: block;
  background-color: rgb(34, 40, 49);
  height: 100%;
}

.App-header {
  background-color: rgb(57, 62, 70);
  height: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-graph {
  background-color: rgb(148, 137, 121);
  border: 1px solid black;
  width: 100%;
  height: 80vh;
  justify-content: center;
  display: flex;
}

.App-character {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  border: solid 1px white;
  justify-content: center;
  background-color: #282c34;
  height: fit-content;
  width: 100%;
  color: white;
  margin-bottom: 1rem;
}

.App-content {
  display: flex;
  flex-direction: row;
  margin: 1rem;
  height: 90vh;
}

.App-left {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-right: 1vh;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1rem;
}

.wrapper {
  margin: 0;
}

#submitWrapper {
  margin-bottom: 1rem;
}

#submitWrapper button {
  background-color: green;
  border: solid 1px white;
  color: white;
}

label {
  margin-right: 1rem;
}

